<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">About Us</h5>
        <p class="category">Unlock Your Child's Potential with Fun and Interactive Learning!</p>
      </div>
      <div class="card-body">
        <div class="typography-line">
          <h1>
            <!-- <span>Header 1</span>X -->
            &nbsp;&nbsp;&nbsp;&nbsp; XYZ GATOR 
            <div class="logo-image-small">
              <img src="assets/img/cuteGator.png">
            </div>
          </h1>
        </div>
        <!-- <div class="typography-line">
          <h2>
            <span>Header 2</span>The Life of Paper Dashboard </h2>
        </div>
        <div class="typography-line">
          <h3>
            <span>Header 3</span>The Life of Paper Dashboard </h3>
        </div>
        <div class="typography-line">
          <h4>
            <span>Header 4</span>The Life of Paper Dashboard </h4>
        </div>
        <div class="typography-line">
          <h5>
            <span>Header 5</span>The Life of Paper Dashboard </h5>
        </div>
        <div class="typography-line">
          <h6>
            <span>Header 6</span>The Life of Paper Dashboard </h6>
        </div>
        <div class="typography-line">
          <p>
            <span>Paragraph</span>
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
          </p>
        </div> -->

        <!-- this creates the margins on the side -->
        <!-- <div class="typography-line"> -->
          <!-- this creates the words in the margin on the side -->
          <!-- <span>Quote</span> -->
          <blockquote>
            <!-- <h5 style="margin: 50px;" style="margin-bottom: 0px"> Words from our Founders</h5> -->
            <p class="blockquote blockquote-primary" style="margin: 50px;">
              <span style="color: blue;"> Words from our Founders 
              <br>
              -------------------------------- 
              </span>
              
              <br>
              "Wack."
              <!-- <br> -->
              <br>
              <small>
                - Vishal, Co-Founder of XYZGATOR
              </small>
              <br>
              <br>
              "Truly a revolutionary learning experience."
              <br>
              <small>
                - Carolyn, Co-Founder of XYZGATOR
              </small>

              <br>

              <p class="blockquote blockquote-primary" style="margin: 50px;">
                <span style="color: blue;"> Quotes from Real Parents and Users
                  <br>
                  -------------------------------- 
                  </span>
              <!-- Quotes from Real Parents and Users
              <br>
              -------------------------------- -->
              <br>
              "I don't know how I lived before this. My son's curiosity has only increased at an exponential rate and he absolutely loves it!"
              <br>
              <small>
                - Wilbert M., father of Huey (6 year old)
              </small>
              <br>
              <br>
              "Perhaps the greatest innovation since the invention of the wheel!"
              <br>
              <small>
                - Bill N., father of Makenzie (8 year old)
              </small>
              
            </p>
          </blockquote>
        </div>
        <div style="margin: 30px;">
        <!-- <div class="typography-line"> -->
          <!-- <span>Muted Text</span> -->
          <h2> Mission Statement </h2>
          <div class="logo-image-small" style="float:left">
            <img src="assets/img/XYZGatorTeam.png" style="width: 45%;">
          </div>
          <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
          <p class="text-muted" style="margin-right: 5%;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At XYZGator, our mission is to empower children aged 5 and above with 
            the necessary tools to enhance their analytical, problem-solving, and intellectual skills through a fun and 
            interactive user interface. Our platform offers a wide range of activities, including memory-matching, object 
            identification, basic math exercises, and other learning applications, that stimulate and engage children's
             curiosity, creativity, and passion for learning. We strive to provide a rich and immersive learning 
             experience that helps children get ahead of the learning curve and build a stronger foundational basis for 
             their future education and life skills. Our commitment is to create a safe, inclusive, and supportive 
             environment that fosters lifelong learning and personal growth for all children.          </p>
        </div>
        <!-- <div class="typography-line">
          <span>Primary Text</span>
          <p class="text-primary">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...</p>
        </div>
        <div class="typography-line">
          <span>Info Text</span>
          <p class="text-info">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
        </div>
        <div class="typography-line">
          <span>Success Text</span>
          <p class="text-success">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
        </div>
        <div class="typography-line">
          <span>Warning Text</span>
          <p class="text-warning">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
          </p>
        </div>
        <div class="typography-line">
          <span>Danger Text</span>
          <p class="text-danger">
            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
        </div> -->
        
        <!-- <div class="typography-line">
          <h2>
            <span>Small Tag</span>
            Header with small subtitle
            <br>
            <small>Use "small" tag for the headers</small>
          </h2>
          
          </div>
      </div> -->
    </div>
  </div>
</div>
