
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Game selection
                <p class="category">Click to play the selected game</p>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" routerLink="/game1">Game1</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" routerLink="/game2">Game2</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','right')">Game3</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">Game4</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">Game5</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','right')">Game6</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
