
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Game selection
                <p class="category"></p>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" routerLink="/game1" style="margin: 0;">Memory Game</button>
                  <p style="border: 1px solid rgb(92, 237, 235); background-color: rgb(231, 236, 255); padding: 10px; margin-top: 0;">There are matching cards and you need to flip/click on them to see their color. The goal is to match the same color cards as quick as possible.</p>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" routerLink="/game2" style="margin: 0;">Speed Math Game</button>
                  <p style="border: 1px solid rgb(92, 237, 235); background-color: rgb(231, 236, 255); padding: 10px; margin-top: 0;">You are given a math problem and you have to press the square containing the solution. You have 1 minute to get as many questions right as possible.</p>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','right')">Game3</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">Game4</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">Game5</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','right')">Game6</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
