<div class ="outer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Forgot Your Password?</h1>
                        <h6>Please enter email address you'd like your password reset information sent to.</h6>
                    </div>
                    <form>
                        <form>
                            <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter email address</label>
                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                            </div>
                            <div class="mb-3">
                            <!-- <a routerLink="/main"><button type="submit" class="btn btn-primary" routerLink="/main">Login</button></a> -->
                            <label for="securityQuestionInput" class="form-label">Security Question: What is your favorite animal?</label>
                            <input class="form-control" id="securityQuestionInput" aria-describedby="emailHelp" name="username">
                            </div>
                            <div class="mb-3">
                            <label for="newPassword" class="form-label">Enter New Password?</label>
                            <!-- <input [(ngModel)]="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                            <input class="form-control" id="newPassword" aria-describedby="emailHelp" name="username">
                            </div>
                            <button (click)="onSubmit()" class="btn btn-primary">Request Reset Link</button>
                        </form>
                    </form>
                    <a style="color: white; margin-top:10px;" routerLink="/signup">New user? Click to signup!!</a>
                    <a style="color: white; margin-top:10px;" routerLink="/signin">Already registered? Click to Login!!</a>
                </div>
            </div>
        </div>
    </div>
</div>